body {
  position: relative;
  height: 100vh;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(0, 0, 0, 0.7)
  );
}

.circle {
  position: absolute;
  z-index: 10;
  width: 100px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin: -100px -50px;
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.rotate45 {
  z-index: 6;
  transform: rotate(55deg);
}

.rotate90 {
  z-index: 4;
  transform: rotate(-55deg);
}

.core {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 95px 45px;
  border-radius: 50%;
  background-color: rgba(7, 7, 7, 0.7);
  animation: pulse 5s infinite;
}

.elec {
  position: absolute;
  top: 90px;
  left: -14px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(59, 32, 0, 0.7);
  border: 3px solid black;
}

.elec:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(59, 32, 0, 0.7);
  border: 3px solid black;
}

.elec_1 {
  animation: lr 10s infinite;
}

.elec_1:after {
  animation: ud 10s infinite;
  background-color: rgba(34, 0, 255, 0.7);
}

/* .elec_2 {
  animation: lr 6s infinite;
}

.elec_2:after {
  animation: ud 6s infinite;
  background-color: rgba(34, 0, 255, 0.7);
}

.elec_3 {
  animation: lr 16s infinite;
}

.elec_3:after {
  animation: ud 16s infinite;
  background-color: rgba(34, 0, 255, 0.7);
} */

@keyframes pulse {
  0%,
  100% {
    background-color: rgba(34, 0, 255, 0.7);
  }

  50% {
    background-color: rgba(34, 0, 255, 0.7);
    transform: scale(2);
  }
}

@keyframes lr {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(0px);
  }

  25% {
    animation-timing-function: ease-out;
    transform: translateX(51px);
  }

  50% {
    animation-timing-function: ease-in;
    transform: translateX(104px);
  }

  75% {
    animation-timing-function: ease-out;
    transform: translateX(51px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes ud {
  0% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  25% {
    animation-timing-function: ease-in;
    transform: translateY(-102px);
  }

  50% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  75% {
    animation-timing-function: ease-in;
    transform: translateY(102px);
  }

  100% {
    transform: translateY(0px);
  }
}
